$color-white:#fff;
$color-black:#17153B;
$color-primary:#1C1C1E;
$color-dark: #000000;
$color-secondary:#FFFFFF;
$color-blue:#064BB4;
$color-ltwhite:#F1F1F1;
$color-grey:#8E8E93;
$color-greylt:#636366;
$color-title:#fbfbfb;
$color-ltgreen:#BCFF5E;
$color-text: #C7C7CC;

$bg-blue:#064BB4;
$bg-secondary:#FFFFFF;
$bg-ltgreen:#BCFF5E;
$bg-section:#F9F9FB;
$bg-white:#fff;

$transition: 0.3s linear;

