.header {
    height: 88px;
    
    @media (max-width: 450px) {
        height: 130px;
    }

    &-fixed {
        position: fixed;
        z-index: 3;
        top: 0;
        right: 0;
        left: 0;
        background-color: $bg-blue;

        @media (max-width: 450px) {
            padding-bottom: 50px;
        }
    }

    &-wrapper {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(max-width: 1220px) {
            padding: 20px 10px;
        }
    }


    &-block {
        display: flex;
        align-items: center;
        gap: 32px;

        @media (max-width: 450px) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 80px;
            width: 100%;
            justify-content: center;
        }
    }

    &-acount {
        display: flex;
        gap: 16px;
    }

    .burger {
        display: none;

        @media (max-width: 980px) {
            display: block;
            width: 60px;
            height: 40px;
            position: relative;
            z-index: 5;
            background: url(../img/bars-solid.svg) no-repeat center;
            transition: .3s linear;

            &.active {
                background: url(../img/xmark-solid.svg) no-repeat center;
            }
        }
    }

    .acount-link {
        width: 83px;
        padding: 12px 0;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.005em;
        color: $color-secondary;
        border: 1px solid #FFFFFF;
        border-radius: 20px;
        text-align: center;

        &.active {
            background: $color-ltgreen;
            border-color: $color-ltgreen;
            color: $color-primary;
        }

    }

    .nav {


        @media(max-width: 980px) {
            transform: translateX(-100%);
            position: absolute;
            background: white;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 100vh;
            z-index: 2;
            overflow-x: hidden;
            transition: .4s linear;

            &.active {
                transform: translateX(0);
            }
        }
    }

    .menu {
        display: flex;
        gap: 40px;

        @media(max-width: 980px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
    }

    .link {
        line-height: 24px;
        letter-spacing: 0.005em;
        color: $color-secondary;
        opacity: 0.56;
        text-transform: capitalize;
        transition: 0.2s ease;

        @media (max-width: 980px) {
            color: black;
        }


        &:hover {
            opacity: 1;

        }
    }
}