.header {
    background: url(../img/herobg.jpg) no-repeat;
    background-size: cover;

    @media (max-width: 450px) {}

    &-top {
        height: 81px;
    }

    &-fixed {
        padding-top: 50px;
        position: fixed;
        z-index: 3;
        top: 0;
        right: 0;
        left: 0;

        @media (max-width: 450px) {}
    }

    .logo {
        color: $color-white;
        text-align: center;
        font-family: var(--ff-outfit);
        font-size: 22px;
    }

    &-wrapper {
        display: flex;
        justify-content: space-between;

        @media(max-width: 1220px) {}
    }

    &-acount {
        display: flex;
        gap: 24px;
        align-items: center;
    }

    .burger {
        display: none;

        @media (max-width: 980px) {
            display: block;
            width: 60px;
            height: 40px;
            position: relative;
            z-index: 5;
            background: url(../img/bars-solid.svg) no-repeat center;
            transition: .3s linear;

            &.active {
                background: url(../img/xmark-solid.svg) no-repeat center;
            }
        }
    }

    .acount-link {}

    .nav {


        @media(max-width: 980px) {
            transform: translateX(-100%);
            position: absolute;
            background: white;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 100vh;
            z-index: 2;
            overflow-x: hidden;
            transition: .4s linear;

            &.active {
                transform: translateX(0);
            }
        }
    }

    .menu {
        display: flex;
        gap: 40px;

        @media(max-width: 980px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
    }

    .link {
        color: $color-white;
        text-align: center;
        font-family: var(--ff-outfit);
        font-size: 22px;
    }

    .acount-link.login {
        width: 30px;
        height: 30px;
        background: url(../img/log-in.svg);
    }

    .acount-link.active.Sign-Up {
        border-radius: 20px;
        background: #FF1DA3;
        padding: 8px 30px;
        color: $color-white;
        text-align: center;
        font-size: 15px;
        font-weight: 700;
    }
}