.hero {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;

    &-container{
        max-width: 1415px;
        width: 100%;
        margin-left: auto;
    }

    &-wrapper{
        display: flex;
        justify-content: center;
        gap: 27px;
    }

    &-content {
        max-width: 613px;
        width: 100%;
        padding: 153px 0 160px;
    }

    &-title {
        color: $color-white;
        font-size: 75px;
        font-weight: 700;
        line-height: 93px;
        margin-bottom: 33px;
    }

    &-text {
        color: $color-white;
        font-size: 22px;
        font-weight: 500;
        line-height: 35px;
        margin-bottom: 55px;
    }

    &-link {
        display: flex;
        gap: 20px;
        color: $color-white;
        text-align: center;
        font-size: 15px;
        font-weight: 700;
    }

    .left {
        border-radius: 20px;
        border: 2px solid $color-white;
        padding: 8px 40px;
        
        
    }

    .right {
        border-radius: 20px;
        background: #FF1DA3;
        padding: 8px 30px 8px 40px;
        background-image: url(../img/play.svg);
        background-repeat: no-repeat;
        background-position: left 20px center;
        display: flex;
        align-items: center;
        text-align: right;
    }

    &-img {
        max-width: 928px;
        width: 100%;

        img{
            height: 100%;
        }
    }
}