.hero {
    

    &-link {
        display: flex;
        gap: 20px;
    }

    &-wrapper{
        display: flex;
        justify-content: center;
        gap: 27px;
        align-items: center;
    }

    &-content {
        max-width: 613px;
        width: 100%;
    }

    &-img {
        max-width: 928px;
        width: 100%;
    }
}