.storis {
    background: $bg-white;
    &-wrapper {
        max-width: 1495px;
        width: 100%;
        margin-left: auto;
        display: flex;
        align-items: flex-start;
        gap: 20px;
        position: relative;
    }

    &-video{
        position: absolute;
        z-index: 2;
        max-width: 1002px;
        width: 100%;
        max-height: 647px;
        height: 100%;
        border-radius: 30px;
        background: url(../img/storisimg.jpg) no-repeat center;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video-btn{
        width: 178px;
        height: 178px;
        background: url(../img/play.png) no-repeat center;

    }

    &-title {
        margin-top: 126px;
    }

    &-hero {
        max-width: 772px;
        width: 100%;
        background: url(../img/storibg.png) no-repeat center,
            url(../img/sfera.png) no-repeat right 56px top 42px;
        padding: 380px 74px 49px 323px;
        margin-bottom: 175px;
    }

    li {
        color: #192138;
        font-size: 26px;
        font-weight: 400;
        line-height: 2.0;
        cursor: pointer;
        transition: $transition;
        background: transparent;

        &:hover{
            padding-left: 20px;
            background: url(../img/polygon.svg) no-repeat left center;
        }
    }

    .slider-wrapper {
        height: 189px;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
}