.popup {
    position: fixed;
    z-index: -10;
    opacity: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(9, 8, 13, 0.12);
    backdrop-filter: blur(10px);
    transition: .3s linear;

    &.active{
        z-index: 10;
        opacity: 1;
    }

    
}

